<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'admin' %}">Администратор</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'adm_search' %}">Найти</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<form action="adminadd" method="POST" class="mt-5 ms-5 me-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="d" class="form-label" >Правило</label>
        <input type="text" class="form-control" id="d" name="query">
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
</body>
</html>